*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_B: #006aff;
    --color_w: #fff;
    --color_BL: #080808;
}
/* Add this to your style.css */
body {
  padding-top: 20px; /* adjust based on your navbar height */
}

.logo{
    height: 65px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    position: relative;
    transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 4px;
    background: var(--color_B);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after{
    width: 100%;
    
}
.navbar-expand-lg .navbar-nav .nav-link.active {
   color: var(--color_B);
}
.navbar-expand-lg .navbar-nav .nav-link.active {
   color: var(--color_B);
   
}
/* .navbar-expand-lg .navbar-nav .nav-link{
    color: var(--color_BL)
} */
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--color_B);
}


/* hamburger navbar */
@media (max-width: 991.98px){
.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.9); 
   display: flex;
    justify-content: center; 
    align-items: center; 
 }
 /* toogle theme button */




/* Disable hover effects on small screens */
  .navbar-expand-lg .navbar-nav .nav-link::after,.navbar-expand-lg .navbar-nav .nav-link:hover::after {
    content: none;
  }
.navbar-collapse .navbar-nav .nav-link{
color: #fff;
}
.navbar-collapse .navbar-nav{
    gap: 10% !important;
    margin: 0 auto;
}

 .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Higher than header */
  }
}


/* header */

header span{
    color: var(--color_B);
}