*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_B: #006aff;
    --color_w: #fff;
    --color_BL: #080808;
}
/* Add this to your style.css */
body {
  padding-top: 20px; /* adjust based on your navbar height */
}

.logo{
    height: 65px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    position: relative;
    transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link::after {
    content: '';
    width: 0;
    height: 4px;
    background: var(--color_B);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover::after{
    width: 100%;
    
}
.navbar-expand-lg .navbar-nav .nav-link.active {
   color: var(--color_B);
}
.navbar-expand-lg .navbar-nav .nav-link.active {
   color: var(--color_B);
   
}
/* .navbar-expand-lg .navbar-nav .nav-link{
    color: var(--color_BL)
} */
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--color_B);
}


/* hamburger navbar */
@media (max-width: 991.98px){
.navbar-collapse {
  background-color: rgba(0, 0, 0, 0.9); 
   display: flex;
    justify-content: center; 
    align-items: center; 
 }
 /* toogle theme button */




/* Disable hover effects on small screens */
  .navbar-expand-lg .navbar-nav .nav-link::after,.navbar-expand-lg .navbar-nav .nav-link:hover::after {
    content: none;
  }
.navbar-collapse .navbar-nav .nav-link{
color: #fff;
}
.navbar-collapse .navbar-nav{
    gap: 10% !important;
    margin: 0 auto;
}

 .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1050; /* Higher than header */
  }
  .fa-sun{
    color: #fff;
  }
  

}


/* header */

header span{
    color: var(--color_B);
}
header h2{
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .7px var(--color_B);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-5.33s * var(--i));
}
@keyframes display-text {
  33.33%,100%{
    display: none;
  }
}
header h2::before{
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 4px solid var(--color_B);
  color: var(--color_B);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 5.33s linear infinite;
}
@keyframes fill-text{
  10%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}